.profile {
  padding-top: 50px;
  text-align: center;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 30px;
  background-color: thistle;
  margin-right: 20px;
  border-radius: 10px;
}

.profile img {
  border-radius: 20%;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 900;
}